# Configuración de Seguridad y Sesión
SECRET_KEY=clave_secreta_super_segura_para_firmar_cookies_2026

# Credenciales de Administrador (Login Local)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Google OAuth 2.0 (Opcional - obtenido en Google Cloud Console)
# Redirección autorizada: http://<tu-dominio-o-ip>:8000/auth/google/callback
GOOGLE_CLIENT_ID=tu_cliente_id_google.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_cliente_secret_google
